UD3/UT3_A05/Actividad05_DTD/anuario2.dtd

<!ELEMENT anuario (articulo+)>
<!ATTLIST anuario año CDATA #REQUIRED>
<!ELEMENT articulo (titulo, fecha, numLectores, autores)>
<!ATTLIST articulo identificador CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT numLectores (#PCDATA)>

<!ELEMENT autores (autor+)>
<!ELEMENT autor EMPTY>
<!ATTLIST autor nombre CDATA #REQUIRED>
<!ATTLIST autor mail CDATA #REQUIRED>